# dependencies
/node_modules
/.pnp
.pnp.js

# build output
/.next
/out
/.vercel

# production
/build

# misc
.DS_Store
*.pem

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# netlify
.netlify

# OS
Thumbs.db
